@import "../variables";
@import "../shared/buttons";

:host {
  display: block;
  background-color: $bg_b1;
  padding: $spacing;
}

input {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;

  & + label {
    display: inline-block;
    @include rect-button();


  }
}
