@import "../variables";

$properties-spacing: 8px;

:host {
  border-top: 1px solid $border-light;
  box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.3);

  .selection {
    padding: $properties-spacing 0;
    margin: 0 $properties-spacing / 2;
    border-bottom: 1px solid $border-lighter;
    color: #666;
    text-align: center;

    &.empty {
      border: none;
    }
  }

  .properties {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: $properties-spacing / 2;

    .property {
      margin: $properties-spacing / 2;

      label {
        margin: 0 $spacing 0 0;
        color: #888;
      }

      input {
        border: 1px solid $border-light;
        background: $bg_d1;
        border-radius: 3px;
        color: rgba(255, 255, 255, 0.7);
        outline: none;
        padding: 2px 4px;

        &[type=number] {
          width: 60px;
        }

        &:focus {
          border-color: #505050;
        }

        &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }
    }
  }
}
