@import "../variables";

@mixin button($border-width: 1px) {
  box-sizing: border-box;
  cursor: pointer;
  border: $border-width solid $bg_d1;
  background: $bg;

  &:hover {
    background: $bg_b2;
  }
}

@mixin rect-button() {
  padding: $spacing;
  border-radius: 3px;
  @include button();
}
