[submodule "external/light-desk"]
	path = external/light-desk
	url = https://github.com/synesthesia-project/light-desk.git
[submodule "core"]
	path = core
	url = https://github.com/synesthesia-project/core
