$color-green: #98c379;
$color-red: #e06c75;
$color-amber: #d19a66;

$bg_d1: #252524;
$bg: #2a2a2b;
$bg_b1: #353638;
$border_dark: #151516;
$border-light: #1c1d1d;
$border-lighter: #252524;

// TODO: Colors to replace
$hint: #4286f4;
$hint_d1: #2a77f3;
// END TODO

$layer_side_bg: #303133;

$font-family: sans-serif;

$spacing: 5px;

$layer_side_column_width: 130px;
$visualization_width: 100px;
