@import "../variables";

@mixin connection-button {
  .connection-button {
    > .indicator {
      display: inline-block;
      width: 6px;
      height: 6px;
      margin-left: 7px;
      border-radius: 10px;

      &.not_connected {
        border:1px solid #999;
        width: 4px;
        height: 4px;
      }

      &.connecting {
        background-color: $color-amber;
      }

      &.connected {
        background-color: $color-green;
      }

      &.error {
        background-color: $color-red;
      }
    }
  }
}
